<web-app>
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet>
<servlet-name>SelectFSubject</servlet-name>
<servlet-class>SelectFSubject</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewSSFacultyList</servlet-name>
<servlet-class>ViewSSFacultyList</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewMailList</servlet-name>
<servlet-class>ViewMailList</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowFeedBackInShortSSFaculty</servlet-name>
<servlet-class>ShowFeedBackInShortSSFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>SelectFaculty</servlet-name>
<servlet-class>SelectFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>StoreFacultyId</servlet-name>
<servlet-class>StoreFacultyId</servlet-class>
</servlet>
<servlet>
<servlet-name>ApplyFeedbackSSFaculty</servlet-name>
<servlet-class>ApplyFeedbackSSFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowFeedBackInShort</servlet-name>
<servlet-class>ShowFeedBackInShort</servlet-class>
</servlet>
<servlet>
<servlet-name>SendMailList</servlet-name>
<servlet-class>SendMailList</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewMail</servlet-name>
<servlet-class>ViewMail</servlet-class>
</servlet>
<servlet>
<servlet-name>SendMailListDeptWise</servlet-name>
<servlet-class>SendMailListDeptWise</servlet-class>
</servlet>
<servlet>
<servlet-name>CreateMail</servlet-name>
<servlet-class>CreateMail</servlet-class>
</servlet>
<servlet>
<servlet-name>SendMail</servlet-name>
<servlet-class>SendMail</servlet-class>
</servlet>
<servlet>
<servlet-name>CreateMailHodTask</servlet-name>
<servlet-class>CreateMailHodTask</servlet-class>
</servlet>
<servlet>
<servlet-name>SendMailHodTask</servlet-name>
<servlet-class>SendMailHodTask</servlet-class>
</servlet>
<servlet>
<servlet-name>SelectSubject</servlet-name>
<servlet-class>SelectSubject</servlet-class>
</servlet>
<servlet>
<servlet-name>ApplySubject</servlet-name>
<servlet-class>ApplySubject</servlet-class>
</servlet>
<servlet>
<servlet-name>NewAdmission</servlet-name>
<servlet-class>NewAdmission</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewHODList</servlet-name>
<servlet-class>ViewHODList</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewHOD</servlet-name>
<servlet-class>ViewHOD</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewTeacherClerkList</servlet-name>
<servlet-class>ViewTeacherClerkList</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewTeacherClerk</servlet-name>
<servlet-class>ViewTeacherClerk</servlet-class>
</servlet>
<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>Logout</servlet-class>
</servlet>
<servlet>
<servlet-name>ChangePassword</servlet-name>
<servlet-class>ChangePassword</servlet-class>
</servlet>
<servlet>
<servlet-name>StoreTeacherId</servlet-name>
<servlet-class>StoreTeacherId</servlet-class>
</servlet>
<servlet>
<servlet-name>ApplyFeedback</servlet-name>
<servlet-class>ApplyFeedback</servlet-class>
</servlet>
<servlet>
<servlet-name>AddHOD</servlet-name>
<servlet-class>AddHOD</servlet-class>
</servlet>
<servlet>
<servlet-name>AddClerk</servlet-name>
<servlet-class>AddClerk</servlet-class>
</servlet>
<servlet>
<servlet-name>AddStudentSectionFaculty</servlet-name>
<servlet-class>AddStudentSectionFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>AddTEACHER</servlet-name>
<servlet-class>AddTEACHER</servlet-class>
</servlet>
<servlet>
<servlet-name>SelectAFeedback</servlet-name>
<servlet-class>SelectAFeedback</servlet-class>
</servlet>
<servlet>
<servlet-name>ChangePasswordHOD</servlet-name>
<servlet-class>ChangePasswordHOD</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowHODList</servlet-name>
<servlet-class>ShowHODList</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowFacultyList</servlet-name>
<servlet-class>ShowFacultyList</servlet-class>
</servlet>
<servlet>
<servlet-name>RemoveHODFaculty</servlet-name>
<servlet-class>RemoveHODFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>EnableHODFacultyList</servlet-name>
<servlet-class>EnableHODFacultyList</servlet-class>
</servlet>
<servlet>
<servlet-name>DisableHODFacultyList</servlet-name>
<servlet-class>DisableHODFacultyList</servlet-class>
</servlet>
<servlet>
<servlet-name>EnableHODFaculty</servlet-name>
<servlet-class>EnableHODFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowTeacherList</servlet-name>
<servlet-class>ShowTeacherList</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowClerkList</servlet-name>
<servlet-class>ShowClerkList</servlet-class>
</servlet>
<servlet>
<servlet-name>RemoveTeacherClerk</servlet-name>
<servlet-class>RemoveTeacherClerk</servlet-class>
</servlet>
<servlet>
<servlet-name>DisableHODFaculty</servlet-name>
<servlet-class>DisableHODFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>EnableTeacherClerkList</servlet-name>
<servlet-class>EnableTeacherClerkList</servlet-class>
</servlet>
<servlet>
<servlet-name>DisableTeacherClerkList</servlet-name>
<servlet-class>DisableTeacherClerkList</servlet-class>
</servlet>
<servlet>
<servlet-name>EnableTeacherClerk</servlet-name>
<servlet-class>EnableTeacherClerk</servlet-class>
</servlet>
<servlet>
<servlet-name>SelectSubjectTeacherInHodTask</servlet-name>
<servlet-class>SelectSubjectTeacherInHodTask</servlet-class>
</servlet>
<servlet>
<servlet-name>DisableTeacherClerk</servlet-name>
<servlet-class>DisableTeacherClerk</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowTeacherListFeedback</servlet-name>
<servlet-class>ShowTeacherListFeedback</servlet-class>
</servlet>
<servlet>
<servlet-name>ChangePasswordTeacher</servlet-name>
<servlet-class>ChangePasswordTeacher</servlet-class>
</servlet>
<servlet>
<servlet-name>ChangePasswordClerk</servlet-name>
<servlet-class>ChangePasswordClerk</servlet-class>
</servlet>
<servlet>
<servlet-name>ChangePasswordStudent</servlet-name>
<servlet-class>ChangePasswordStudent</servlet-class>
</servlet>
<servlet>
<servlet-name>ChangePasswordSSFaculty</servlet-name>
<servlet-class>ChangePasswordSSFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>ShowDeptFacultyList</servlet-name>
<servlet-class>ShowDeptFacultyList</servlet-class>
</servlet>
<servlet>
<servlet-name>SelectSubjectForDeptFacuty</servlet-name>
<servlet-class>SelectSubjectForDeptFacuty</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewFeedback</servlet-name>
<servlet-class>ViewFeedback</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewSSFaculty</servlet-name>
<servlet-class>ViewSSFaculty</servlet-class>
</servlet>
<servlet>
<servlet-name>ViewSSFacultyFeedback</servlet-name>
<servlet-class>ViewSSFacultyFeedback</servlet-class>
</servlet>
<servlet>
<servlet-name>SelectSubjectForHod</servlet-name>
<servlet-class>SelectSubjectForHod</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>NewAdmission</servlet-name>
<url-pattern>/NewAdmission</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SelectSubjectForHod</servlet-name>
<url-pattern>/SelectSubjectForHod</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChangePassword</servlet-name>
<url-pattern>/ChangePassword</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AddHOD</servlet-name>
<url-pattern>/AddHOD</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>StoreTeacherId</servlet-name>
<url-pattern>/StoreTeacherId</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AddClerk</servlet-name>
<url-pattern>/AddClerk</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SelectAFeedback</servlet-name>
<url-pattern>/SelectAFeedback</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AddStudentSectionFaculty</servlet-name>
<url-pattern>/AddStudentSectionFaculty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AddTEACHER</servlet-name>
<url-pattern>/AddTEACHER</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewMailList</servlet-name>
<url-pattern>/ViewMailList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewMail</servlet-name>
<url-pattern>/ViewMail</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChangePasswordHOD</servlet-name>
<url-pattern>/ChangePasswordHOD</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowHODList</servlet-name>
<url-pattern>/ShowHODList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>RemoveHODFaculty</servlet-name>
<url-pattern>/RemoveHODFaculty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewHODList</servlet-name>
<url-pattern>/ViewHODList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SelectSubject</servlet-name>
<url-pattern>/SelectSubject</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SelectSubjectTeacherInHodTask</servlet-name>
<url-pattern>/SelectSubjectTeacherInHodTask</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ApplySubject</servlet-name>
<url-pattern>/ApplySubject</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SelectFaculty</servlet-name>
<url-pattern>/SelectFaculty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>StoreFacultyId</servlet-name>
<url-pattern>/StoreFacultyId</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ApplyFeedbackSSFaculty</servlet-name>
<url-pattern>/ApplyFeedbackSSFaculty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewSSFaculty</servlet-name>
<url-pattern>/ViewSSFaculty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowFacultyList</servlet-name>
<url-pattern>/ShowFacultyList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewHOD</servlet-name>
<url-pattern>/ViewHOD</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewSSFacultyList</servlet-name>
<url-pattern>/ViewSSFacultyList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewTeacherClerkList</servlet-name>
<url-pattern>/ViewTeacherClerkList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewTeacherClerk</servlet-name>
<url-pattern>/ViewTeacherClerk</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ApplyFeedback</servlet-name>
<url-pattern>/ApplyFeedback</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EnableHODFacultyList</servlet-name>
<url-pattern>/EnableHODFacultyList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SendMailList</servlet-name>
<url-pattern>/SendMailList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SendMailListDeptWise</servlet-name>
<url-pattern>/SendMailListDeptWise</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>CreateMail</servlet-name>
<url-pattern>/CreateMail</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SendMail</servlet-name>
<url-pattern>/SendMail</url-pattern>
</servlet-mapping><servlet-mapping>
<servlet-name>CreateMailHodTask</servlet-name>
<url-pattern>/CreateMailHodTask</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SendMailHodTask</servlet-name>
<url-pattern>/SendMailHodTask</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisableHODFacultyList</servlet-name>
<url-pattern>/DisableHODFacultyList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisableHODFaculty</servlet-name>
<url-pattern>/DisableHODFaculty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EnableHODFaculty</servlet-name>
<url-pattern>/EnableHODFaculty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowTeacherList</servlet-name>
<url-pattern>/ShowTeacherList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowClerkList</servlet-name>
<url-pattern>/ShowClerkList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>RemoveTeacherClerk</servlet-name>
<url-pattern>/RemoveTeacherClerk</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EnableTeacherClerkList</servlet-name>
<url-pattern>/EnableTeacherClerkList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisableTeacherClerkList</servlet-name>
<url-pattern>/DisableTeacherClerkList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DisableTeacherClerk</servlet-name>
<url-pattern>/DisableTeacherClerk</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>EnableTeacherClerk</servlet-name>
<url-pattern>/EnableTeacherClerk</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChangePasswordTeacher</servlet-name>
<url-pattern>/ChangePasswordTeacher</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChangePasswordClerk</servlet-name>
<url-pattern>/ChangePasswordClerk</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChangePasswordStudent</servlet-name>
<url-pattern>/ChangePasswordStudent</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ChangePasswordSSFaculty</servlet-name>
<url-pattern>/ChangePasswordSSFaculty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SelectFSubject</servlet-name>
<url-pattern>/SelectFSubject</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowFeedBackInShort</servlet-name>
<url-pattern>/ShowFeedBackInShort</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowDeptFacultyList</servlet-name>
<url-pattern>/ShowDeptFacultyList</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowTeacherListFeedback</servlet-name>
<url-pattern>/ShowTeacherListFeedback</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SelectSubjectForDeptFacuty</servlet-name>
<url-pattern>/SelectSubjectForDeptFacuty</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewFeedback</servlet-name>
<url-pattern>/ViewFeedback</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ViewSSFacultyFeedback</servlet-name>
<url-pattern>/ViewSSFacultyFeedback</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ShowFeedBackInShortSSFaculty</servlet-name>
<url-pattern>/ShowFeedBackInShortSSFaculty</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>MainPage.html</welcome-file>
</welcome-file-list>
</web-app>